h4 {
	color:rgb(0,0,0);
}
a {
	text-decoration:none;
	color:rgb(50,95,250);
}
#body {
	margin-left:100px;
	margin-right:100px;
	background-color:rgba(245,245,245,0.75);
}
#main {
	margin-left:20px;
	margin-right:20px;
}
#click {
	color: rgba(0,0,200,0.75);
	background: rgba(255,0,0,0.5);
	border-radius: 15px;
	font-size: 12.5px;
	height: 25px;
	width: 100px;
}
noscript {
	background: rgb(255,255,255);
	position: absolute;
	font-family: FangSong;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 2;
}
